cliente_pdf_v2.json
{
  "name": "Cliente PDF v2 - Native Supabase",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "שלום! אני אסיסטנט הביטוח שלך.\nשלח/י את מספר הטלפון שלך ואבדוק אם כבר נרשמת. אם לקוח/ה חדש/ה - צרף/י גם את קובץ הפוליסה PDF.",
        "options": { "allowFileUploads": true }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-600, 0],
      "id": "node-001",
      "name": "When chat message received",
      "webhookId": "912a281e-68bb-4695-9d00-a27abec4c1cb"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $json.chatInput || '';\nconst sessionId = $json.sessionId || '';\n\nconst israeliPhone = /05\\d{8}/;\nconst normalize = s => (s || '').replace(/[-\\s]/g, '');\nconst fromChat = normalize(chatInput).match(israeliPhone);\nconst phone = fromChat ? fromChat[0] : null;\n\n// Persist phone number across conversation turns\nconst staticData = $getWorkflowStaticData('global');\nif (phone && sessionId) {\n  staticData[sessionId] = phone;\n}\nconst savedPhone = sessionId ? (staticData[sessionId] || null) : null;\nconst resolvedPhone = phone || savedPhone;\nconst phoneIsValid = resolvedPhone !== null && /^05\\d{8}$/.test(resolvedPhone);\n\nconst hasPdf = Object.keys($binary || {}).length > 0;\nconst binaryKey = hasPdf ? Object.keys($binary)[0] : null;\n\nreturn [{\n  json: {\n    ...$json,\n    phone_number: resolvedPhone || sessionId,\n    phone_is_valid: phoneIsValid,\n    has_pdf: hasPdf,\n    binary_key: binaryKey\n  },\n  binary: $binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 0],
      "id": "node-002a",
      "name": "Extract Phone"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-valid-phone",
              "leftValue": "={{ $json.phone_is_valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 0],
      "id": "node-003a",
      "name": "IF Valid Phone"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-has-pdf",
              "leftValue": "={{ $json.has_pdf }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-60, 0],
      "id": "node-003b",
      "name": "IF Has PDF"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [120, 200],
      "id": "node-006",
      "name": "Find Profile",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-profile-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [340, 200],
      "id": "node-007",
      "name": "IF Profile Exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-status", "name": "user_status", "value": "existing", "type": "string" },
            { "id": "set-name", "name": "client_name", "value": "={{ $json.full_name }}", "type": "string" },
            { "id": "set-uid", "name": "user_id", "value": "={{ $json.id }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 100],
      "id": "node-007b",
      "name": "Set Existing User"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-status", "name": "user_status", "value": "no_profile", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 300],
      "id": "node-007c",
      "name": "Set No Profile"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.binary_key || 'data' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [120, -200],
      "id": "node-002",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=מהטקסט הבא של מפרט ביטוח, חלץ JSON בלבד ללא הסברים:\n{\"full_name\": \"שם מלא של המבוטח\", \"phone\": \"0521234567\", \"codes\": \"8713,6792,5409\"}\n\nחוקים:\n- full_name: שם מלא בדיוק כפי שמופיע\n- phone: מספר טלפון ישראלי 10 ספרות המתחיל ב-05, אם לא מופיע בטקסט - השאר ריק \"\"\n- codes: מספרי נספחים בני 4-6 ספרות, מופרדים בפסיקים בלבד, ללא רווחים\n- החזר JSON בלבד\n\nטקסט:\n{{ ($json.text || '').substring(0, 4000) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [340, -200],
      "id": "node-004",
      "name": "Extract PDF Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [340, -40],
      "id": "node-004b",
      "name": "Anthropic Extract Model",
      "credentials": {
        "anthropicApi": { "id": "0AH2aKB0F6Xrj8LV", "name": "Anthropic account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text || $input.first().json.output || '';\nconst clean = raw.replace(/```json|```/g, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(clean);\n} catch(e) {\n  const m = clean.match(/\\{[\\s\\S]*?\\}/);\n  try { data = m ? JSON.parse(m[0]) : { full_name: 'לא זוהה', codes: '', phone: '' }; }\n  catch(e2) { data = { full_name: 'לא זוהה', codes: '', phone: '' }; }\n}\n\nconst chatInput = $('When chat message received').first().json.chatInput || '';\nconst sessionId = $('When chat message received').first().json.sessionId || ('unknown_' + Date.now());\n\nconst israeliPhone = /05\\d{8}/;\nconst normalize = s => (s || '').replace(/[-\\s]/g, '');\nconst fromChat = normalize(chatInput).match(israeliPhone);\nconst fromPdf = normalize(data.phone || '').match(israeliPhone);\nconst phone = (fromChat && fromChat[0]) || (fromPdf && fromPdf[0]) || sessionId;\n\nconst codesArray = (data.codes || '')\n  .split(/[,;\\s]+/)\n  .map(s => s.trim())\n  .filter(s => /^\\d{4,6}$/.test(s));\n\nreturn [{\n  json: {\n    phone_number: phone,\n    phone_is_valid: /^05\\d{8}$/.test(phone),\n    full_name: data.full_name || 'לא זוהה',\n    codes_array: codesArray,\n    codes_count: codesArray.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, -200],
      "id": "node-005",
      "name": "Parse PDF Data"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "profiles",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "phone_number", "fieldValue": "={{ $json.phone_number }}" },
            { "fieldId": "full_name", "fieldValue": "={{ $json.full_name }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [780, -200],
      "id": "node-008b",
      "name": "Create Profile",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ $('Parse PDF Data').first().json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1000, -200],
      "id": "node-010",
      "name": "Get Profile ID",
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "user_policies",
        "deleteMatchingBehavior": "deleteAllMatching",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1220, -200],
      "id": "node-011",
      "name": "Delete Old Policies",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const profileId = $('Get Profile ID').first().json.id;\nconst codesArray = $('Parse PDF Data').first().json.codes_array;\n\nif (!codesArray || codesArray.length === 0) {\n  return [{ json: { user_id: profileId, code: '__empty__', skip: true } }];\n}\n\nreturn codesArray.map(code => ({\n  json: { user_id: profileId, code: code, skip: false }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, -200],
      "id": "node-012",
      "name": "Prepare Code Items"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "master_annexes",
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "annex_code",
              "condition": "eq",
              "keyValue": "={{ $json.code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1660, -200],
      "id": "node-013",
      "name": "Find Annex",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "cond-annex-found",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "cond-not-skip",
              "leftValue": "={{ $('Prepare Code Items').item.json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1880, -200],
      "id": "node-014",
      "name": "IF Annex Found"
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "user_policies",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "user_id", "fieldValue": "={{ $('Prepare Code Items').item.json.user_id }}" },
            { "fieldId": "annex_id", "fieldValue": "={{ $json.id }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2100, -320],
      "id": "node-015",
      "name": "Create User Policy",
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_results",
        "include": "noFields"
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2320, -200],
      "id": "node-017",
      "name": "Wait for All Codes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "set-status", "name": "user_status", "value": "NEW_REGISTERED", "type": "string" },
            { "id": "set-name", "name": "client_name", "value": "={{ $('Parse PDF Data').first().json.full_name }}", "type": "string" },
            { "id": "set-count", "name": "codes_count", "value": "={{ $('Parse PDF Data').first().json.codes_count }}", "type": "number" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2540, -200],
      "id": "node-018",
      "name": "Set Registration Done"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').first().json.chatInput }}\n\n---\nSystem Info:\nPhone: {{ $('Extract Phone').first().json.phone_number }}\nPhone Digits: {{ ($('Extract Phone').first().json.phone_number || '').replace(/[^0-9]/g,'').length }}\nHas PDF: {{ $('Extract Phone').first().json.has_pdf ? 'YES' : 'NO' }}\nUser Status: {{ $json.user_status || 'UNKNOWN' }}\n{{ $json.client_name ? 'Client Name: ' + $json.client_name : '' }}\n{{ $json.user_id ? 'User ID: ' + $json.user_id : '' }}\n{{ $json.user_annexes ? 'Registered Annexes: ' + $json.user_annexes : '' }}\n{{ $json.codes_count !== undefined ? 'Codes Found: ' + $json.codes_count : '' }}",
        "options": {
          "systemMessage": "אתה מומחה בכיר לביטוח בריאות בישראל.\n\nכלל עליון: אל תחזיר לעולם נתוני JSON גולמיים. תמיד השב בעברית טבעית.\nכלל חשוב: לעולם אל תשנה, אל תנחש ואל תמציא מספרי טלפון. הצג בדיוק את מה שכתוב ב-Phone.\n\nקרא תמיד את System Info לפני כל תגובה:\n\nUser Status = existing:\n✅ ברך את הלקוח בשמו (Client Name) בפעם הראשונה בלבד.\n\nכשהלקוח שואל שאלה על כיסוי ביטוחי, בצע בסדר הזה:\n1. קרא get_user_policies — תקבל רשימה של { user_id, annex_id }. סנן רק את השורות שבהן user_id = [User ID מה-System Info].\n2. לכל annex_id שמצאת: קרא search_database ומצא את הנספח שבו id = annex_id.\n3. ציטוט חובה: העתק את כל תוכן ה-full_text של הנספח הרלוונטי כמו שהוא — כולל שמות ספקים, מספרי טלפון, מחירים, השתתפות עצמית וכל פרט אחר. אל תסכם ואל תקצר.\n4. אם אף נספח לא מכסה את הבקשה — הפעל send_admin_notification1.\n\nUser Status = NEW_REGISTERED:\n✅ הרישום הושלם! השב כך:\n- ברך את הלקוח בשמו (Client Name)\n- ציין כמה נספחים נמצאו ונשמרו (Codes Found)\n- אם Codes Found = 0: הפעל send_admin_notification1 ואמר שהנספחים יתווספו בקרוב\n- שאל במה תוכל לעזור\n\nUser Status = no_profile (לקוח חדש, ללא PDF):\n- אמר: 'לא מצאתי אותך במערכת. שלח/י הודעה עם הטלפון + PDF הפוליסה מצורף (סמל הקלפיס)'\n\nUser Status = UNKNOWN (טלפון לא תקין):\n- בדוק את Phone Digits: אם לא 10 ספרות - אמר בדיוק: 'המספר שקיבלתי [Phone] הוא [Phone Digits] ספרות. אני צריך מספר של 10 ספרות המתחיל ב-05 (לדוגמה: 0541234567)'\n- אם Has PDF = YES: אמר 'ראיתי שצירפת PDF - שלח/י שוב עם הטלפון המתוקן ואני אסרוק אותו'\n- אם Has PDF = NO: בקש טלפון + PDF ביחד\n\nשפה: עברית רהוטה. בולטים. אל תמציא נתונים כספיים."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2760, 0],
      "id": "node-020",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [2640, 200],
      "id": "node-021",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": { "id": "0AH2aKB0F6Xrj8LV", "name": "Anthropic account" }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2800, 200],
      "id": "node-022",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "כלי לשליפת פרטים מלאים, השתתפויות עצמיות וזמני המתנה של נספחים מהספרייה המרכזית.",
        "operation": "getAll",
        "tableId": "master_annexes",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [2960, 200],
      "id": "node-023",
      "name": "search_database",
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "כלי לשליחת מייל למנהל כשחסר נספח במערכת.",
        "sendTo": "gurfinker.leon@gmail.com",
        "subject": "חוסר במידע: נספח ביטוח חסר במערכת",
        "emailType": "text",
        "message": "={{ $fromAI(\"text\", \"פירוט הנספחים החסרים ושם הלקוח\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [3100, 200],
      "id": "node-024",
      "name": "send_admin_notification1",
      "credentials": {
        "gmailOAuth2": { "id": "xlI6Mm1juj80oWDc", "name": "Gmail account" }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "כלי לשליפת רשימת הנספחים של לקוח. מחזיר שורות עם user_id ו-annex_id. סנן לפי user_id של הלקוח הנוכחי מ-System Info.",
        "operation": "getAll",
        "tableId": "user_policies",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [3100, 400],
      "id": "node-025",
      "name": "get_user_policies",
      "credentials": {
        "supabaseApi": { "id": "NJPl0jtQQasqPtql", "name": "Supabase account" }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{ "node": "Extract Phone", "type": "main", "index": 0 }]]
    },
    "Extract Phone": {
      "main": [[{ "node": "IF Valid Phone", "type": "main", "index": 0 }]]
    },
    "IF Valid Phone": {
      "main": [
        [{ "node": "IF Has PDF", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "IF Has PDF": {
      "main": [
        [{ "node": "Extract from File", "type": "main", "index": 0 }],
        [{ "node": "Find Profile", "type": "main", "index": 0 }]
      ]
    },
    "Extract from File": {
      "main": [[{ "node": "Extract PDF Data", "type": "main", "index": 0 }]]
    },
    "Anthropic Extract Model": {
      "ai_languageModel": [[{ "node": "Extract PDF Data", "type": "ai_languageModel", "index": 0 }]]
    },
    "Extract PDF Data": {
      "main": [[{ "node": "Parse PDF Data", "type": "main", "index": 0 }]]
    },
    "Parse PDF Data": {
      "main": [[{ "node": "Create Profile", "type": "main", "index": 0 }]]
    },
    "Create Profile": {
      "main": [[{ "node": "Get Profile ID", "type": "main", "index": 0 }]]
    },
    "Get Profile ID": {
      "main": [[{ "node": "Delete Old Policies", "type": "main", "index": 0 }]]
    },
    "Delete Old Policies": {
      "main": [[{ "node": "Prepare Code Items", "type": "main", "index": 0 }]]
    },
    "Prepare Code Items": {
      "main": [[{ "node": "Find Annex", "type": "main", "index": 0 }]]
    },
    "Find Annex": {
      "main": [[{ "node": "IF Annex Found", "type": "main", "index": 0 }]]
    },
    "IF Annex Found": {
      "main": [
        [{ "node": "Create User Policy", "type": "main", "index": 0 }],
        [{ "node": "Wait for All Codes", "type": "main", "index": 0 }]
      ]
    },
    "Create User Policy": {
      "main": [[{ "node": "Wait for All Codes", "type": "main", "index": 0 }]]
    },
    "Wait for All Codes": {
      "main": [[{ "node": "Set Registration Done", "type": "main", "index": 0 }]]
    },
    "Set Registration Done": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Find Profile": {
      "main": [[{ "node": "IF Profile Exists", "type": "main", "index": 0 }]]
    },
    "IF Profile Exists": {
      "main": [
        [{ "node": "Set Existing User", "type": "main", "index": 0 }],
        [{ "node": "Set No Profile", "type": "main", "index": 0 }]
      ]
    },
    "Set Existing User": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Set No Profile": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "search_database": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "send_admin_notification1": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "get_user_policies": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "pinData": {},
  "versionId": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "tags": [],
  "meta": { "templateCredsSetupCompleted": true }
}
